.img_art_central {
	float:left;
}
.titulo{
	
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;

}
.text_quien {

	font-size:50px;
	color: white;
	
}

.text_quien_2 {
	padding-left:50px;
	padding-right:50px;
	font-size:15px;
}

.center {

float:left;
width:100%;  
  

}

.icon_menu{
	
	font-size:100px;
}